/* Fonts */
@font-face {
  font-family: lovely;
  src: url("/Styling/BunchBlossomsPersonalUse-0nA4.ttf");
}

/* Animations */
@keyframes rotate1 {
  0% {
	transform: rotate(-45deg);
  }
  50% {
	transform: rotate(45deg);
  }
  100% {
	transform: rotate(-45deg);
  }
}

@keyframes rotate2 {
  0% {
	transform: rotate(-45deg);
  }
  50% {
	transform: rotate(45deg);
  }
  100% {
	transform: rotate(-45deg);
  }
}
body, div, h1, h2, form, fieldset, input, textarea, footer, p {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}

body { 
  
	-webkit-perspective:800px;
    background: rgba(122,129,135,1);
	background-image: url('/Images/background-img.png');
	background-size: cover;
	object-fit: cover;
-webkit-animation: bugfix infinite 1s; 
}

@-webkit-keyframes bugfix { 
  from {padding:0;} 
  to {padding:0;} 
}

p {
	font-family: 'sans serif';
	font-size: 20px;
  font-weight: 100;
	opacity: 0;
}

#wrap{
	width: 530px;
	height: 1000px;
	margin: 20px auto 0;
}

h1{
	font-family: lovely;
	font-size: 48px;
  	font-weight: 400;
  	color: black;
	margin: 50px 0;
	text-align: center;
}

h3{
	font-family: lovely;
}

#letter_wrap {
	overlay:hidden;
	height: 446px;
	position:relative;
	top: 0px;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	z-index: 1;
}

#back {
	position:absolute;
	bottom:128px;
	left:0px;
	background:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/144467/before1.png');
	width:530px;
	height:132px;
}

#flap{
	position:absolute;
	bottom: 65px;
	left: 0px;
	width: 530px;
	height: 390px;
	-webkit-transform-style:preserve-3d;
	z-index: 5;
	-webkit-transition: all 1.5s 1s linear;
}

#flap>div{
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	display:block;
	position:absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#open_flap {
	top:195px;
	background:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/144467/flap.png') no-repeat;
	-webkit-transform: rotateY(-180deg);
	z-index: 1;
}

#closed_flap {
	top:0%;
	background:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/144467/flap_closed.png') no-repeat 0 195px;
	z-index: 1;
}


#front {
	position:absolute;
	bottom:0px;
	left:0px;
	background:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/144467/after.png');
	width:530px;
	height:260px;
	z-index: 1;
}

.checkbox{
	position: absolute;
	opacity: 0;
	top:0;
	left:0;
	width:70%;
	height: 70%;
	z-index: 100
}

#checkbox:checked + #letter_wrap {
	height:776px;
	top:-200px;
	-webkit-transition: all 1s ease-in-out 2s;
	-moz-transition: all 1s ease-in-out 2s;
	-o-transition: all 1s ease-in-out 2s;
	transition: all 1s ease-in-out 2s;
	z-index: 1;
}

#letter {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	background: #ffc url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/144467/letter_bg.png');
	position: relative;
	top:200px;
	overlay: hidden;
	height: 190px;
	width: 400px;
	margin: 0 auto;
	padding: 20px;
	border:1px solid #fff;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
	-moz-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 14px #fff;
	box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
	z-index: 1;
}

#checkbox:checked + #letter_wrap>#flap{
	-webkit-transition: all 2s linear;
	transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
	z-index: -1;
}

#checkbox:checked +#letter_wrap>#letter{
	height:520px;
	-webkit-transition: all 1s ease-in-out 2s;
	-moz-transition: all 1s ease-in-out 2s;
	-o-transition: all 1s ease-in-out 2s;
	transition: all 1s ease-in-out 2s;
}


#checkbox:checked +#letter_wrap>#letter>p{
	opacity: 1;
	-webkit-transition: opacity 1s ease-in-out 2s;
	-moz-transition: opacity 1s ease-in-out 2s;
	-o-transition: opacity 1s ease-in-out 2s;
	transition: opacity 1s ease-in-out 2s;
}

.heart {
  z-index: 0;
  --c: pink;
  width: 18vw;
  aspect-ratio: 1;
  background: 
	   /* 1 */ radial-gradient(
        circle at 60% 65%,
        var(--c) 64%,
        #0000 65%
      )
      top left/50% 50%,
    /* 2 */ radial-gradient(circle at 40% 65%, var(--c) 64%, #0000 65%) top
      right/50% 50%,
    /* 3 */ conic-gradient(from -45deg at 50% 85.5%, var(--c) 90deg, #0000 0)
      bottom/100% 50%;
  background-repeat: no-repeat;
  border: solid black 2 px;
  width: 10%;
}

#heart-1 {
  position: absolute;
  animation: rotate1 8s ease-in-out infinite;
}
#heart-2 {
  position: absolute;
  animation: rotate1 5s ease-in-out infinite;
}
#heart-3 {
  position: absolute;
  animation: rotate1 12s ease-in-out infinite;
}
#heart-4 {
  position: absolute;
  animation: rotate1 8s ease-in-out infinite;
}
#heart-5 {
  position: absolute;
  animation: rotate1 4s ease-in-out infinite;
}
#heart-6 {
  position: absolute;
  animation: rotate1 15s ease-in-out infinite;
}
#heart-7 {
  position: absolute;
  animation: rotate1 15s ease-in-out infinite;
}
#heart-8 {
  position: absolute;
  animation: rotate1 15s ease-in-out infinite;
}
#heart-9 {
  position: absolute;
  animation: rotate1 6.5s ease-in-out infinite;
}
#heart-10 {
  position: absolute;
  animation: rotate1 9s ease-in-out infinite;
}

.heart:nth-child(1) {
  top: 70%;
  left: 5%;
}

.heart:nth-child(2) {
  top: 5%;
  left: 87.5%;
}

.heart:nth-child(3) {
  top: 45%;
  left: 5%;
}

.heart:nth-child(4) {
  top: 75%;
  left: 75%;
}

.heart:nth-child(5) {
  top: 30%;
  left: 20%;
}

.heart:nth-child(7) {
  top: 70%;
  left: 30%;
}

.heart:nth-child(8) {
  top: 50%;
  left: 80%;
}

.heart:nth-child(9) {
  top: 20%;
  left: 75%;
}

.heart:nth-child(10) {
  top: 80%;
  left: 10%;
}

.heart-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
